################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwiftCart/.vs/SwiftCart/config/applicationhost.config
